.burger-menu-wrapper {
  position: absolute;
  top: 42px;
  right: 10px;
  .burger-btn {
    display: none;
    width: 26px;
    height: 21px;
    position: relative;
    margin-right: 5px;
    @include onMobile {
      display: block;
    }
  }
}

.burger-btn span {
  width: 26px;
  height: 3px;
  position: absolute;
  background-color: white;
  border-radius: 5px;
  &:nth-of-type(1) {
    right: 0;
    width: 15px;
    height: 3px;
  }
  &:nth-of-type(2) {
    top: calc(50% - 2px);
  }
  &:nth-of-type(3) {
    top: calc(45% + 8px);
  }
}
.burger-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 292px;
  height: 379px;
  right: 0;
  top: 64px;
  background-color: #333333;

  .burger-menu__link {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #ffffff;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #3b3b3b;
    padding: 30px 0 21px 35px;
  }
}

.active {
  border-left: 8px solid $mainColor;
  color: $mainColor;
}

/* Анимация на нажатие */

.burger-btn.clicked span:nth-child(1) {
  opacity: 0;
}

.burger-btn.clicked span:nth-child(2) {
  width: 23px;
  height: 2px;
  border-radius: 0;
  transform: rotate(45deg) translate(3px, -4px);
}

.burger-btn.clicked span:nth-child(3) {
  width: 23px;
  height: 2px;
  border-radius: 0;
  transform: rotate(-45deg) translate(10px, -3px);
}
.burger-btn.clicked .burger-menu {
  display: block;
}
