.download {
  @include flex-center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include onMobile {
    bottom: -6rem;
  }
  .download__btn {
    background: $mainColor;
    border-radius: $border-radius;
    @include montBold;
    font-size: 21px;
    line-height: 22px;
    min-width: 390px;
    color: #ffffff;
    padding: 23px 61px;
    border: none;
    cursor: pointer;
    @include onMobile {
      font-size: 18px;
      line-height: 20px;
      min-width: 290px;
      padding: 13px 30px;
    }
    &:hover {
      color: $mainColor;
      background-color: #ffffff;
      border: 1px solid $mainColor;
    }
  }
  .download__unlimitedPeriod {
    @include mont400;
    font-size: 14px;
    line-height: 15px;
    color: #848e97;
    padding-top: 19px;
    @include onMobile {
      line-height: 14px;
    }
  }
}
