.header__menu {
  margin-top: 0;
  margin-left: auto;
  margin-right: 38px;
  flex-basis: unset;
  .header__menu-nav {
    @include flex-center;
    .menu-nav__list {
      display: flex;
      width: 100%;
      @include onMobile {
        display: none;
      }
      .nav__list-item {
        @include montBold;
        font-size: 16px;
        line-height: 15px;
        padding-right: 3rem;
        white-space: nowrap;
        &:last-child {
          padding-right: 0;
        }
        @include onTablet {
          padding-right: 2em;
        }
        .nav__list-link {
          color: $mainColor;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
  @include onTablet {
    order: 3;
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    margin: 20px 0 14px 0;
  }
}
