.product {
  @include flex-center;
  justify-content: center;
  flex-direction: column;
  &__heading {
    @include montBold;
    font-size: 82px;
    line-height: 82px;
    color: #ffffff;
    text-align: center;
    padding-top: 83px;
    @include onMobile {
      font-size: 48px;
      line-height: 48px;
    }
  }
  &__description {
    @include lato400;
    font-size: 30px;
    line-height: 30px;
    color: $mainColor;
    text-align: center;
    padding-top: 19px;
    @include onMobile {
      @include mont400;
      font-size: 18px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
  &__version {
    @include mont400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #848e97;
    padding-top: 19px;
    @include onMobile {
      font-size: 14px;
      line-height: 14px;
    }
  }
}
