.features{
    background-color: #F4F4F4;
    @include onTablet{
        background-color: #FFFFFF;
    }
    .features_wrapper{
        padding: 100px 0 60px 90px;
        @include wrapper;
        display: grid;
        grid-template-columns: 1fr 1fr; /* Две колонки равной ширины */
        grid-template-areas: 
            "block1 block2" /* Задаем расположение блоков на сетке */
            "block1 block3";
            gap: 19px 90px;
        @include onTablet{
            grid-template-columns: 1fr;
            grid-template-areas: 
            "block2"
            "block1"
            "block3";
            gap: 50px;
        }
        @include onMobile{
            padding-left: 24px;
        }
    }
    .features_aside{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        gap: 34px 23px;
        grid-area: block1;
        @include onMobile{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(8, 1fr);
            row-gap: 30px;
            text-align: center;
        }
    }
    .features_aside-text{
        @include mont400;
        line-height: 21px;
        &--large{
            font-size: 16px;
            color: #323232;
            margin-bottom: 16px;
        }
        &--small{
            font-size: 14px;
            color: #848E97;
        }
    }
    .features_photo-topic{
        @include montBold;
        font-size: 48px;
        line-height: 50px;
        color: #8D81AC;
        grid-area: block2;
        @include flex-center;
        text-align: center;
        @include onTablet{
            font-size: 42px;
            line-height: 44px;
            justify-content: center;
        }
        @include onMobile{
            font-size: 32px;
            line-height: 38px;
        }
    }
    .features_photo-img{
        grid-area: block3;
        max-width: 700px;
    }
}

