.footer_block{
    width: 257px;
    height: 457px;
    background-color: rgba(255, 255, 255, 0.11);
    padding-bottom: 36px;
    &--large{
        width: 299px;
        height: 560px;
        background-color: rgba(70, 48, 72, 0.84);
        padding-bottom: 46px;
    }
    &--large h2{
        background-color: rgba(0, 0, 0, 0.11);
        width: 100%;
        height: 20%;
        @include mont400;
        @include footerBlockTopic;
        padding-top: 43px;
    }
}
.footer_block h2{
    background-color: rgba(255, 255, 255, 0.06);
    width: 100%;
    height: 23%;
    @include mont400;
    @include footerBlockTopic;
    padding-top: 36px;
}
.footer_block-price{
    @include montBold;
    font-size: 60px;
    line-height: 90px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer_block-time{
    @include mont400;
    @include footerBlock;
}
.footer_block-strip{
    width: 60px;
    height: 5px;
    background-color: #8D81AC;
    border: none;
}
.footer_block-text{
    @include mont400;
    @include footerBlock;
}
.footer_block-btn{
    padding: 18px 48px;
    border-radius: $border-radius;
    border: none;
    background-color: rgba(255, 255, 255, 0.15);
}
.footer_block-btn a{
    @include mont400;
    @include footerBlock;
}
