.footer{
    background-image: url("../img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    margin-top: -2px;
    .footer_wrapper{
        padding: 100px 130px;
        @include onMobile{
            padding: 0;
        }
    }
    .footer_about{
        @include montBold;
        text-align: center;
        font-size: 48px;
        line-height: 50px;
        color: white;
        padding-bottom: 60px;
        @include onTablet{
            font-size: 42px;
            line-height: 44px;
        }
        @include onMobile{
            font-size: 28px;
            line-height: 42px;
            padding-bottom: 32px;
        }
    }
    .footer_price{
        @include flex-center;
        justify-content: center;
        gap: 15px;
        @include onTablet{
            flex-wrap: wrap;
        }
    }
    .footer_price div{
        @include flex-center;
        flex-direction: column;
        justify-content: space-between;
    }
}