.header {
  background-image: url("../img/headerImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  position: relative;
  @include onMobile {
    margin-bottom: 130px;
  }

  .header-content-container {
    @include flex-center;
    padding-top: 30px;
    @include onTablet {
      background-color: #27262a;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .header__logo {
      .logo__link {
        @include flex-center;
        &:hover {
          filter: brightness(0) invert(1);
        }
      }
      .logo__name {
        @include latoBold;
        font-size: 24px;
        line-height: 16px;
        padding-left: 17px;
        text-transform: uppercase;
        color: #8d81ac;
        @include onMobile {
          display: none;
        }
      }
    }
    .header__btn {
      min-width: 145px;
      background: $mainColor;
      border-radius: $border-radius;
      border: none;
      @include montBold;
      font-size: 16px;
      line-height: 17px;
      color: #ffffff;
      padding: 11px 20px;
      cursor: pointer;
      &:hover {
        color: $mainColor;
        background-color: #ffffff;
        border: 1px solid $mainColor;
      }
      @include onMobile {
        min-width: 119px;
        margin: 0 auto;
        font-size: 15px;
        line-height: 15px;
      }
    }
  }
}
