.testimonials {
  background-image: url("../img/testimonials_section/testmonials-bg.jpg");
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 108px;
  @include onTablet {
    padding-top: 87px;
  }
  @include onMobile {
    padding-top: 57px;
  }
}

.testimonials__heading {
  @include sectionTitleWhile;
  @include montBold;
  margin-top: 0;
  margin-bottom: 84px;
  @include onTablet {
    margin-bottom: 88px;
    font-size: 42px;
    line-height: 44px;
  }
  @include onMobile {
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 53px;
  }
}
.testimonials__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 111px;
  column-gap: 87px;
  padding-left: 0;
  margin: 0;
  @include onTablet {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 56px;
    column-gap: 63px;
  }
  @include onMobile {
    grid-template-columns: 1fr;
    row-gap: 45px;
  }
}

.testimonials__post {
  text-align: center;
  @include onTablet {
    &--pixel {
      padding-top: 18px;
    }
  }
}

.testimonials__post-text {
  margin: 0;
  margin-top: 35px;
  @include latoBold;
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.testimonials {
  &--middle-margin {
    margin-top: 27px;
  }
  &--small-margin {
    margin-top: 12px;
  }
}
.testimonials__bottom-text {
  color: #a291a5;
  font-size: 14px;
  line-height: 21px;
  margin: 119px auto 18px auto;
  width: 75%;
  text-align: center;
  @include lato400;
  @include onTablet {
    width: 90%;
  }
  @include onMobile {
    margin: 67px auto 22px auto;
  }
}

.testimonials__line {
  width: 80%;
  height: 2px;
  background-color: #645766;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
}

.testimonials__line-wrapper {
  background-color: #4b3b4e;
  padding-bottom: 15px;
}
