.topic{
    background-color: #FFFFFF;
    .topic_name{
        @include montBold;
        text-align: center;
        text-transform: uppercase;
        color: #635C73;
        font-size: 54px;
        line-height: 54px;
        padding: 130px 0 35px;
        @include onTablet{
            font-size: 42px;
            line-height: 42px;
        }
        @include onMobile{
            font-size: 26px;
            line-height: 28px;
            padding-top: 0;
        }
    }
    .topic_about{
        @include lato400;
        text-align: center;
        color: #323232;
        font-size: 21px;
        max-width: 860px;
        margin: auto;
        padding-bottom: 20px;
        line-height: 32px;
        @include onMobile{
            font-size: 14px;
            line-height: 20px;
        }
    }
    .topic_btn{
        @include flex-center;
        max-width: 500px;
        margin: auto;
        justify-content: center;
        gap: 30.5px;
        flex-wrap: wrap;
    }
    .topic_btn li{
        width: 140px;
    }
    .topic_btn-name{
        @include topicButton;
        @include lato400;
        @include flex-center;
        justify-content: space-around;
    }
}