@mixin flex-center {
  display: flex;
  align-items: center;
}
@mixin latoBold {
  font-family: "Lato";
  font-weight: 700;
}
@mixin montBold {
  font-family: "Montserrat";
  font-weight: 700;
}
@mixin mont400 {
  font-family: "Montserrat";
  font-weight: 400;
}
@mixin lato400 {
  font-family: "Lato";
  font-weight: 400;
}
@mixin onDesktop {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin onTablet {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin onMobile {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin sectionTitleWhile {
  font-size: 48px;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
}
@mixin wrapper{
  max-width: 1380px;
  margin: auto;
}
@mixin topicButton{
  text-decoration: none;
  padding: 6px 15px;
  font-size: 14px;
  border-color: var(--color-btn-border);
  color: var(--color-btn-text);
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
}
@mixin footerBlock{
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}
@mixin footerBlockTopic{
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
